@model IEnumerable<FPT_Training_System.Data.Models.AssignedCourse>

@using FPT_Training_System.Web.Providers
@{
    var _userProvider = DependencyResolver.Current.GetService<IHttpUserProvider>();
    var loggedUser = _userProvider.Provide();
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MCourse = "active";
}

<h2>Assign Course</h2>

<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Course Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Fullname)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Course.CourseDescription)
                </th>
                @if (loggedUser.Roles.Contains("Training Staff"))
                {
                    <th>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AssignedId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.AssignedId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AssignedId })
                    </th>
                }

            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a href="@Url.Action("Index", "Courses")">
        Back to List
    </a>
</div>